// COLORS
$primary-color: #ABD907;
$secondary-color: #5EA653;
$font-family: "Montserrat", sans-serif;

$light-white: #e5e5e5;
$white-color: #ffffff;
$dark-grey: #333333;

$dark-blue-text: #090b0a; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;